<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock price app</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div style="margin-left:50px">
  			
  			<h1 style="margin-bottom:25px">August 2016 Closing Stock Prices</h1>
			
			<div>

			<h4>Enter company's stock ticker:</h4>
			<p style="font-size:14px; color:black">Don't know your company's stock ticker? Search for it on<a href="http://www.marketwatch.com/tools/quotes/lookup.asp"> MarketWatch.</a></p> 

			<div>
				{%with messages = get_flashed_messages()%}
				{% if messages%}
				<ul style="list-style-type:none">
					{% for message in messages%}
					<li style="color:red">{{message}}</li>
					{% endfor%}
				</ul>
				{% endif%}
				{%endwith%}
			</div>

			<div>
				<form id='input' method='post' action="/graph">	
		  			<p>
						Ticker symbol: <input type='text' name='ticker' />
		  			</p>
		  		
		    			<input style="margin-top:10px" type="submit" value="Submit">
		  			</p> 
		  		</form>
			</div>


			<div style="margin-top:25px">
			  	<p><i>See <a href="https://www.quandl.com/data/WIKI">www.quandl.com/data/WIKI</a></i> for database description</p>
			</div>


			<div style="margin-top:25px">
				<small> Designed by Ross Potter </small>
			</div>
			
		</div>
	</body>
</html>